html, body{
  background-color: #EFEFEF;
  font-family: $bodyfont;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight:bold;
  margin:15px 0 20px;
}

h1{ font-size:250% }
h2{ font-size:150% }

ul{
  padding:0 50px;
  margin:10px 0;
}

li{
  padding:10px 10px 5px 0;
  list-style:disc outside;
}

p{ margin:10px 0;}

p, li{
  line-height:120%;
}

strong { font-weight: bold}
em{ font-style:italic}

a{color:$mime-light-blue;}
a:visited{color:$mime-light-blue}

.centre{
  width:1040px;
  margin:0 auto 0;
}
