$mime-yellow:       #F1BE48;
$mime-orange:       #FF8200;
$mime-light-blue:   #00A3E0;
$mime-dark-blue:    #1B365D;
$highlight:         $mime-orange;
$highlight-dark:    #d96f00;
$bodyfont:          "Lucida Console", Monaco, monospace;
