@font-face {
  font-family: "T Star Mono Round";
  src: url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.eot");
  src: url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.svg#T Star Mono Round") format("svg");
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family: "T Star Mono Round";
  src: url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.eot");
  src: url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.svg#T Star Mono Round") format("svg");
  font-style:normal;
  font-weight:700;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'T Star Mono Round';
    src: url('//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.svg#T Star Mono Round') format('svg');
    font-style:normal;
    font-weight:400;
  }
  @font-face {
    font-family: 'T Star Mono Round';
    src: url('//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.svg#T Star Mono Round') format('svg');
    font-style:normal;
    font-weight:700;
  }
}