/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: "T Star Mono Round";
  src: url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.eot");
  src: url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/a921dd8a5b280b39e062c4ff49e03301.svg#T Star Mono Round") format("svg");
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family: "T Star Mono Round";
  src: url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.eot");
  src: url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/98675ac090184429eeeedf6987c56c25.svg#T Star Mono Round") format("svg");
  font-style:normal;
  font-weight:700;
}

html, body{
  background-color: #EFEFEF;
  font-family: "T Star Mono Round", "Lucida Console", Monaco, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight:bold;
  margin:15px 0 20px;
}

h1{ font-size:250% }
h2{ font-size:150% }

ul{
  padding:0 50px;
  margin:10px 0;
}

li{
  padding:10px 10px 5px 0;
  list-style:disc outside;
}

p{ margin:10px 0;}

strong { font-weight: bold}
em{ font-style:italic}

a{color:#999;}
a:visited{color:#999}

#header{
  position:fixed;
  top:0;
  width:100%;
  background:#00A3E0;
  padding:0;
  -webkit-box-shadow: 0 0 12px 0  rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 12px 0  rgba(0,0,0,0.4);
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
  z-index: 10000;

    
}
#home #header img{
  height:50px;
}
#header img{
  height:25px;
}

#header a{
  padding:0;
  margin:0;
}

#header h1{
  margin:10px 10px 0 15px;
}

#header img{
  margin:0 0 10px;
  padding:0;
  max-width:80%;
}

#home{
  margin-top: 90px;
}

#home .doc{
  display:block;
  position:relative;
  width: 240px;
  display: inline-block;
  vertical-align: top;
  background: #FFF;
  margin:10px;
  padding-bottom:3px;
  text-align:left;
  border:3px solid #FAFAFA;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 12px 0  rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 12px 0  rgba(0,0,0,0.4);
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
}

#home .doc .icon{
  display:block;
  width:100%;
  height:150px;
  background-size: cover;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#home .doc a{
  text-decoration:none;
}
#home .doc h2{
  font-size: 150%;
  font-weight:bold;
  color:#333;
  padding:5px;
  margin:5px 0;
}

#home .doc p{
  padding:0 5px;
  margin:5px 0;
  color:#666;
}

.filter a{
  display: inline-block;
  padding:6px;
  margin:3px;
  text-decoration:none;
  font-weight: bold;
  color:#FFF;
}

.filter a.selected::before{
  content: "\2611 ";
  font-size:150%;
  margin-right:3px;
  line-height:60%;
  font-weight:normal;
}

.filter a.unselected::before{
  content: "\2610 ";
  font-size:150%;
  margin-right:3px;
  line-height:60%;
  font-weight:normal;
}

#type-filter a.selected{
  background-color:#3C3;
}
#type-filter a.unselected{
  border:2px solid #3C3;
  padding:4px;
  color:#3C3;
}

#level-filter a.selected{
  background-color:#F90;
}
#level-filter a.unselected{
  border:2px solid #F90;
  padding:4px;
  color:#F90;
}

#tag-filter a.selected{
  background-color:#0CC;
}
#tag-filter a.unselected{
  border:2px solid #0CC;
  padding:4px;
  color:#0CC;
}

#tag-filter .count{
  font-weight:normal;
}

#hw-filter a.selected{
  background-color:#90F;
}
#hw-filter a.unselected{
  border:2px solid #90F;
  padding:4px;
  color:#90F;
}

.doc .type.meta, a.type{background-color:#3C3}
.doc .level.meta, a.level{background-color:#F90}
.doc .hw.meta, a.hw{background-color:#90F}
a.tag{background-color:#0CC}

.doc .meta{
  display: inline-block;
  padding:6px;
  margin:3px;
  text-decoration:none;
  font-weight: bold;
  color:#FFF;
}

.doc .hw.meta{
  position:absolute;
  top:10px;
  left:-3px;
}

.centre{
  width:1040px;
  margin:0 auto 0;
}

#docpage{
  margin-top:70px;
}

#sidebar{
  float:right;
}

#doc, #sidebar{
  padding:25px 45px 45px 15px;
  display:inline-block;
  vertical-align: top;
  background-color:#FFF;
}

#doc{
  width:700px;
  position:relative;
}

#docs{
  display:inline-block;
  width:820px;
  padding: 0 5px;
}

#home #sidebar{
  margin-top:10px;
  padding-top:10px;
  float:right;
}

#home .centre{
  width:1100px;
}

#doc img{
  margin:10px 0;
  max-width:100%;
}

#sidebar{
  width:200px;
  margin-left:10px;
}
#sidebar h3{
  margin-bottom:5px;
}

.solution *{
  display:none;
}
.solution h4, .revealed h4{
  margin-bottom:5px;
}
.solution button, .solution h4{
  display:block;
}
.revealed button{
  display:none;
}

code, samp, kbd {
	font-family: "Courier New", Courier, monospace, sans-serif;
	text-align: left;
	color: #555;
	}
pre code {
	line-height: 1.6em;
	font-size: 11px;
	}
pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	margin: 1em 0 1em 0.3em;
	overflow: auto;
	width: 93%;
	}
/* target IE7 and IE6 */
*:first-child+html pre {
	padding-bottom: 2em;
	overflow-y: hidden;
	overflow: visible;
	overflow-x: auto; 
	}
* html pre { 
	padding-bottom: 2em;
	overflow: visible;
	overflow-x: auto;
	}

table td, table th{
  text-align: left;
  padding:3px 10px 3px 5px;
}
table th{
  font-weight: bold;
  background-color:#EEE;
}

p.hw-warning{
  font-weight:bold;
}

@media all and (max-width: 1060px) {
  #docpage #sidebar{
    float:left;
    width:auto;
    padding:10px;
  }
  #docpage #sidebar h3, #docpage #sidebar div{
    display:inline-block;
  }
  #docpage .centre{
    width:760px;
  }
  #docpage #doc{
    margin:10px 0 0 10px;
  }
}

@media all and (max-width: 780px) {
  #docpage #sidebar{
    margin:0 10px;
  }
  #docpage.centre{
    width:100%;
  }
  #docpage #doc{
    margin:10px 10px 0 10px;
    width:auto; !important
  }
}

@media all and (max-width: 1140px) {
  #home #sidebar{
    width:auto;
    float:left;
    padding:10px;
    margin:10px;
    font-size:90%;
  }
  #sidebar h3{
    display:inline-block;
  }
  #home .centre{
    position:relative;
    width:850px;
  }
  #docs{
    width:100%;
  }
}
@media all and (max-width: 840px) {
  #home .centre{
    width:100%;
  }
}
@media all and (max-width: 545px) {
  #home .doc{
    width:90%
  }
  #home #sidebar{
    font-size:70%;
  }
}

