---
layout: default
---

<div id="docpage" class="centre">
  <div id="sidebar" class="filter">
    <p>{{ page.summary }}</p>
    <div class="type"><h3>Type</h3><a href="/#type={{ page.type | downcase  }}" class="type">{{ page.type | capitalize  }}</a></div>
    <div class="type"><h3>Skill Level</h3><a href="/#level={{ page.level | downcase  }}" class="level">{{ page.level | capitalize  }}</a></div>
    <div class="tags">
      <h3>Tags</h3>
      {% for tag in page.tags %}
        <a href="/#tags={{tag | downcase }}" class="tag">{{ tag | capitalize }}</a>
      {% endfor %}
    </div>
    <div class="tags">
      <h3>Hardware</h3>
      {% for version in page.hardware %}
        <a href="/#hw={{version | downcase }}" class="hw">{{ version | capitalize }}</a>
      {% endfor %}
    </div>
  </div>
  <div id="doc">
    <h1>{{ page.title }}</h1>
    <div class="hw-warning">
      <p>This document is relevant only for the following hardware:</p>
      <ul>
      {% for hw in page.hardware %}
        <li>{{ hw }}</li>
      {% endfor %}
      </ul>
    </div>
  {{ content }}
  </div>
</div>
